@media screen and (max-width: 414px) {
    .displayheader {
        display: flex;
        justify-content: left;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 63px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    header img {
        display: flex;
        margin-left: 22%;
        width: 162px;
        height: 35px;
    }
    .fa-arrow-left {
        margin-left: 2%;
        color: #000000;
    }
    body {
        margin: 0;
    }
    .restaurants__cover {
        width: 100%;
    }
    .container {
        position: absolute;
        width: 100%;
        height: 1240px;
        top: 35%;
        border-radius: 25px 25px 0px 0px;
        background-color: #f7f7f7;
    }
    .restaurants__header {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;
        margin-left: 3%;
        margin-top: 8%;
    }
    span {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3.49%;
        margin-left: 0.4%;
        color: transparent;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text ;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 800ms ease-in-out;
    }
    label {
        margin: 11%;
    }
    input:checked + label span {
        opacity: 1;
        transform: translateY(-0%) scale(1);
    }
    .fa-regular {
        margin-top: 11%;
        margin-left: 10%;
        font-weight: 100;
        transition: color 800ms;
    }
    /*starter*/
    main {
        height: 1370px;
    }
    .starter__header {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-left: 3%;
        margin-top: 8%;
        text-transform: uppercase;
    }
    .line {
        border: 1px solid #99E2D0;
        margin-left: 3%;
        width: 9%;
    }
    .starter__display {
        display: flex;
        flex-direction: column;
    }
    .starter__btn {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 68px;
        border-radius: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin: 3%;
        animation-name: slideIn;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }
    .starter {
        animation-delay: 1s;
    }
    .dishes {
        animation-delay: 2s;
    }
    .desserts {
        animation-delay: 3s;
    }
    @keyframes slideIn{
        from{
             opacity:0;
             transform:translate3d(0, 30px, 0); 
        }
        to{
            opacity:1;
            transform:translate3d(0,0,0);  
        } 
    }
    .starter__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition:width ease 0.5s;
    }
    .starter__column {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .starter__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition:width ease 0.5s;
    }
    .starter__price {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-left: 85%;
        margin-top: 5%;
        transition: transform ease 0.5s;
    }
    .fa-check-circle {
        height: 20px;
        width: 20px;
    }
    .check {
        position:absolute;
        top:0;
        right:0;
        width:0px;
        height: 40px;
        border-radius: 0px 8px 8px 0px;
        background:#99E2D0;
        transition:width ease 0.5s;
        text-align:center;
        padding-top:27px;
        overflow:hidden;
    }
    input[type="radio"]:checked + label .check {
        width: 65px;
        height: 41px;
    }
    input[type="radio"]:checked + label .starter__price {
        transform: translate3d(-65px, 0, 0);
    }
    input[type="radio"]:checked + label svg{
        animation-name: quarterspin;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    input[type="radio"]:checked + label .starter__description {
        width: calc(100% - 130px);
    }
    input[type="radio"]:checked + label .starter__title {
        width: calc(100% - 130px);
    }
    input {
      display: none;
    }
    @keyframes quarterspin {
        0% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    /*order btn*/
    .order__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        margin-top: 10%;
        margin-left: 23%;
    }
    .order__btn:active {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        opacity: 0.9;
    }
    .order__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
    a {
        text-decoration: none;
    }
    /*footer*/
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer__display {
        position: absolute;
        margin-top: 9%;
        width: 100%;
        height: 197px;
        background: #353535;
    }
    h2 {
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 6%;
    }
    .footerrow__description {
        display: flex;
        flex-direction: row;
        margin-left: 6%;
    }
    .fa-utensils {
        color: #FFFFFF;
        margin-right: 3.5%;   
    }
    .fa-handshake-angle {
        color: #FFFFFF;
        margin-right: 2%;    
    }
    .footercolumn__description {
        display: flex;
        flex-direction: column;
        margin-left: 6%;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
    }
    footer a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
    }    
    }
@media screen and (min-width: 415px) {
    .displayheader {
        display: flex;
        justify-content: left;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 63px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    header img {
        display: flex;
        margin-left: 37%;
        width: 162px;
        height: 35px;
    }
    .fa-arrow-left {
        margin-left: 2%;
        color: #000000;
    }
    /*container*/
    body {
        margin: 0;
    }
    .restaurants__cover {
        object-fit: cover;
        height: 400px;
        object-position: bottom;
        width: 100%;
    }
    .container {
        position: absolute;
        width: 95%;
        height: 1315px;
        top: 40%;
        left: 2%;
        border-radius: 25px 25px 0px 0px;
        background-color: #f7f7f7;
    }
    .restaurants__header {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;
        margin-left: 35%;
        margin-top: 4%;
    }
    span {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3.35%;
        margin-left: 0.2%;
        color: transparent;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text ;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 800ms ease-in-out;
    }
    label {
        margin: 5.5%;
    }
    input:checked + label span {
        opacity: 1;
        transform: translateY(-0%) scale(1);
    }
    .fa-regular {
        margin-top: 5.5%;
        margin-left: 10%;
    }
    /*starter*/
    main {
        height: 1370px;
    }
    .starter__header {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-left: 46%;
        margin-top: 4%;
        text-transform: uppercase;
    }
    .line {
        border: 1px solid #99E2D0;
        margin-left: 46%;
        width: 4%;
    }
    .starter__display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .starter__btn {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 68px;
        border-radius: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin: 1%;
        animation-name: slideIn;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }
    .starter {
        animation-delay: 1s;
    }
    .dishes {
        animation-delay: 2s;
    }
    .desserts {
        animation-delay: 3s;
    }
    @keyframes slideIn{
        from{
             opacity:0;
             transform:translate3d(0, 30px, 0); 
        }
        to{
            opacity:1;
            transform:translate3d(0,0,0);  
        } 
    }
    .starter__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition:width ease 0.5s;
    }
    .starter__column {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .starter__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition:width ease 0.5s;
    }
    .starter__price {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-left: 90%;
        margin-top: 3%;
        transition: transform ease 0.5s;
    }
    /*animation*/
    .fa-check-circle {
        height: 20px;
        width: 20px;
    }
    .check {
        position:absolute;
        top:0;
        right:0;
        width:0px;
        height: 40px;
        border-radius: 0px 8px 8px 0px;
        background:#99E2D0;
        transition:width ease 0.5s;
        text-align:center;
        padding-top:27px;
        overflow:hidden;
    }
    @keyframes quarterspin {
        0% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    .starter__btn:active svg{
        animation-name: quarterspin;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    input[type="radio"]:checked + label .check {
        width: 65px;
        height: 41px;
    }
    input[type="radio"]:checked + label .starter__price {
        transform: translate3d(-65px, 0, 0);
    }
    input[type="radio"]:checked + label svg{
        animation-name: quarterspin;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    input {
      display: none;
    }
    /*order btn*/
    .order__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        margin-top: 8%;
        margin-left: 39%;
    }
    .order__btn:active {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        opacity: 0.9;
    }
    .order__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
    a {
        text-decoration: none;
    }
    /*footer*/
    .footer__display {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 96%;
        height: 140px;
        background: #353535;
        padding-left: 4%;
        margin-top: 6%;
    }
    h2 {
        display: flex;
        position: absolute;
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin-left: 70%;
        margin-top: 8.3%;
        margin-bottom: 5%;
    }
    .footerrow__description {
        display: flex;
        flex-direction: row;
        margin-left: 3%;
        margin-top: 9%;
    }
    .fa-utensils {
        color: #FFFFFF;
        margin-right: 3.5%;   
    }
    .fa-handshake-angle {
        color: #FFFFFF;
        margin-right: 2%;    
    }
    .footercolumn__description {
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        margin-top: 9%;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
        width: 129px;
    }
    footer a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
        padding-right: 5%;
    }    
    }
@media screen and (min-width: 1020px) {
    .displayheader {
        position: absolute;
        display: flex;
        justify-content: left;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 63px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    header img {
        display: flex;
        margin-left: 40%;
        width: 162px;
        height: 35px;
    }
    .fa-arrow-left {
        margin-left: 2%;
        color: #000000;
    }
    /*container*/
    body {
        margin: 0;
    }
    .container {
        position: absolute;
        width: 80%;
        height: 1320px;
        top: 52%;
        left: 10%;
        border-radius: 25px 25px 0px 0px;
        background-color: #f7f7f7;
    }
    .restaurants__cover {
        width: 100%;
        height: 650px;
        object-fit: cover;
        object-position: bottom;
    }
    .restaurants__header {
        display: flex;
        flex-direction: row;
        height: 72px;
        padding-bottom: 3%;
    }
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;
        margin-top: 5%;
    }
    span {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 5.3%;
        margin-left: 0.14%;
        color: transparent;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text ;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 800ms ease-in-out;
    }
    label {
        margin: 6%;
    }
    input:checked + label span {
        opacity: 1;
        transform: translateY(-0%) scale(1);
    }
    /*starter*/
    main {
        height: 1370px;
    }
    .starter__header {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #000000;
        margin-left: 20%;
        margin-top: 4%;
    }
    .line {
        position: relative;
        border: 1px solid #99E2D0;
        margin-left: 20%;
        width: 3%;
    }
    .starter__display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .starter__btn {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 60%;
        height: 68px;
        border-radius: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin: 1%;
        animation-name: slideIn;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }
    .starter__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
    }
    .starter__column {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        margin-top: 2%;
    }
    .starter__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    .starter__price {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-left: 92%;
        margin-top: 5%;
        transition: transform ease 0.5s;
    }
    .starter {
        animation-delay: 1s;
    }
    .dishes {
        animation-delay: 2s;
    }
    .desserts {
        animation-delay: 3s;
    }
    @keyframes slideIn{
        from{
             opacity:0;
             transform:translate3d(0, 30px, 0); 
        }
        to{
            opacity:1;
            transform:translate3d(0,0,0);  
        } 
    }
    /* animation & hover*/
    .fa-check-circle {
        height: 20px;
        width: 20px;
    }
    .check {
        position:absolute;
        /*top:0;*/
        right:0;
        width:0px;
        height: 40px;
        border-radius: 0px 8px 8px 0px;
        background:#99E2D0;
        transition:width ease 0.5s;
        text-align:center;
        padding-top:27px;
        overflow:hidden;
    }
    @keyframes quarterspin {
        0% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    .starter__btn:hover svg{
        animation-name: quarterspin;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    .starter__btn:hover .check {
        width: 65px;
        height: 41px; 
    }
    .starter__btn:hover .starter__price {
        transform: translate3d(-65px, 0, 0);
    }
    input[type="radio"]:checked + label .check {
        width: 65px;
        height: 41px;
    }
    input[type="radio"]:checked + label .starter__price {
        transform: translate3d(-65px, 0, 0);
    }
    input[type="radio"]:checked + label svg{
        animation-name: quarterspin;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    input {
      display: none;
    }
    /*order btn*/
    .order__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        margin-top: 3%;
        margin-left: 40%;
    }
    .order__btn:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        opacity: 0.9;
    }
    .order__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
    a {
        text-decoration: none;
    }
    /*footer*/
    .footer__display {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        margin-top: 20%;
        width: 100%;
        height: 114px;
        background: #353535;
    }
    h2 {
        display: flex;
        position: absolute;
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin-left: 50%;
        margin-top: 3.6%;
    }
    .footerrow__description {
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        margin-top: 4%;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
        width: 130px;
    }
    footer a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 1%;
        margin-right: 1%;
    } 
    .fa-utensils {
        color: #FFFFFF;
        margin-right: 3.5%;
    }
    .fa-handshake-angle {
        color: #FFFFFF;
        margin-right: 2%;
    }
    .footercolumn__description {
        display: flex;
        flex-direction: row;
        margin-top: 4%;
    }  
    }